// Here you can add other styles by overriding the defaults
// Refer to coreui.css in node_modules for class names

body {
    background-color: #3275a7
}

.text-muted {
    color: #ffffff
}

.sidebar {
    background: #192633
}

// define some spacing at the top of our cards since the breadcrumb was removed
.card {
    margin-top: 1.5rem;
}