<template>
  <div class="animated fadeIn">


    <b-card>
      <b-row>
        <b-col sm="5">
          <h4 id="traffic" class="card-title mb-0">Another</h4>
          <div class="small text-muted">Useless</div>
        </b-col>
        <!-- <b-col sm="7" class="d-none d-md-block">
          <b-button type="button" variant="primary" class="float-right"><i class="icon-cloud-download"></i></b-button>
          <b-button-toolbar class="float-right" aria-label="Toolbar with buttons group">
            <b-form-radio-group class="mr-3" id="radiosBtn" buttons button-variant="outline-secondary" v-model="selected" name="radiosBtn">
              <b-form-radio class="mx-0" value="Day">Page</b-form-radio>
              <b-form-radio class="mx-0" value="Month">Actual</b-form-radio>
              <b-form-radio class="mx-0" value="Year">Content</b-form-radio>
            </b-form-radio-group>
          </b-button-toolbar>
        </b-col> -->

      <label>
        <gmap-autocomplete
          @place_changed="setPlace">
        </gmap-autocomplete>
        <button @click="addMarker">Add</button>
      </label>
      <br/>

  
  <br>
    <gmap-map
      :center="center"
      :zoom="12"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>







      </b-row>
      <main-chart-example chartId="main-chart-01" class="chart-wrapper" style="height:300px;margin-top:40px;" height="300"></main-chart-example>
      <!-- <div slot="footer">

      </div> -->
    </b-card>
   

  </div>
</template>

<script>
import MainChartExample from '../dashboard/MainChartExample'
import GoogleMap from "../dashboard/GoogleMap";


import { Callout } from '@coreui/vue'

export default {
  name: 'groups',
  components: {
    //MainChartExample,
    GoogleMap //specify the interactive component to load in here
  }
  // data: function () {
  //   // needs to be specified otherwise the graph won't render
  //   return {
  //     selected: 'Year' // specify a default state for the component
  //   }
  // }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
